<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSAP ScrollTrigger</title>
    <link rel="stylesheet" href="/src/CSS/scroll.css">
</head>

<body>


    <img src="/src/assets/gatoFoto.jpg" alt="Gato" class="gato-foto">

    <section class="hero">
    <h1 class="hero-title">Prueba</h1>
    </section>
    <section class="about">
        <h2 class="about-title">Sobre mi</h2>
        <div class="about-grid">
    
            <div class="about-item">
                <h3 class="about-subtitle"><span>Columna1</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                    modi ea assumenda ipsam placeat natus nam repellendus doloribus
                    alias vitae nulla, nemo, totam nihil dignissimos tempore, ex sequi.
                    Explicabo adipisci, id distinctio incidunt nam ipsa maxime expedita
                    facere nobis, accusamus blanditiis in deserunt mollitia consequuntur
                    minima praesentium ut deleniti provident!
                </p>
            </div>
                 <div class="about-item">
                <h3 class="about-subtitle"><span>Columna1</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                    modi ea assumenda ipsam placeat natus nam repellendus doloribus
                    alias vitae nulla, nemo, totam nihil dignissimos tempore, ex sequi.
                    Explicabo adipisci, id distinctio incidunt nam ipsa maxime expedita
                    facere nobis, accusamus blanditiis in deserunt mollitia consequuntur
                    minima praesentium ut deleniti provident!
                </p>
            </div>
                 <div class="about-item">
                <h3 class="about-subtitle"><span>Columna1</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                    modi ea assumenda ipsam placeat natus nam repellendus doloribus
                    alias vitae nulla, nemo, totam nihil dignissimos tempore, ex sequi.
                    Explicabo adipisci, id distinctio incidunt nam ipsa maxime expedita
                    facere nobis, accusamus blanditiis in deserunt mollitia consequuntur
                    minima praesentium ut deleniti provident!
                </p>
            </div>
    
    
        </div>


    </section>


    <!-- <main>
        <div class="seccion"></div>
        <div class="seccion2">
            <div class="cajita"></div>
            <div class="cajita2"></div> 
        </div>
    </main> -->

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

    <!-- libreria para separar palabras slite-type -->
    <script src="https://unpkg.com/split-type"></script>

    <!-- PLUGIN PARA USAR SCROLL TRIGGER -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <script src="/src/JS/scroll.js"></script>
</body>

</html>